h1 {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
body{
background-color: aquamarine;
}
thead {
	font-size: xx-large;
}
table {
	margin-top: 4vh;
	margin-right: 4vh;
}
div {
	text-align: center;
	margin-left: 5vh;
	margin-top: 5vh;
}
p {
	padding-right: 15px;
	padding-left: 15px;
}
button {
	margin-right: 4vh;
	padding: 13px;
	font-size: large;
	font-weight: bold;
	color: whitesmoke;
	background-color: green;
}
button:hover {
	cursor: pointer;
}