* {
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    background-color: cyan;
    margin: 15px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
}
table{
    border-collapse: collapse;
}
td{
    margin-right: 45px;
    padding-left: 45px;
    padding: 10px;
}

input {
    height: 7vh;
    width: 75%;
    margin-top: 20px;
    margin-right: 45px;
    margin-left: 45px;
    border-radius: 5px;
    text-align: right;
    font-size: large;
}

#submit {
    height: 50px;
    width: 80px;
    margin-top: 20px;
    background-color: greenyellow;
}
