body {
	background-color: aqua;
}
h1 {
	margin-top: 5vh;
	margin-bottom: 5vh;
}
input {
	height: 5vh;
	width: 75%;
	margin-top: 3vh;
	margin-bottom: 3vh;
	padding: 1vh;
	border: solid black 2px;
	border-radius: 5px;
	font-size: larger;
	text-align: right;
}
table {
	margin-top: 4vh;
	margin-left: auto;
}
tbody {
	font-size: x-large;
	font-weight: bold;
}
thead {
	font-size: xx-large;
}
div {
	margin-left: 5vh;
	margin-top: 5vh;
}
button {
	margin-right: 4vh;
	padding: 13px;
	font-size: large;
	font-weight: bold;
	color: whitesmoke;
}
button:hover {
	cursor: pointer;
}
#reset {
	background-color: darkred;
}
tbody {
	font-size: x-large;
	font-weight: bold;
}
thead {
	font-size: xx-large;
}
#submit {
	background-color: green;
}
p {
	padding-right: 15px;
	padding-left: 15px;
}
#outputArea {
	background-color: aquamarine;
}